!!! 5
html(lang='en')
  head
    title SimpleChat

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/superagent.min.js')
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/socket.io.min.js')
    script(src='/javascripts/tap.js')    
    script(src='/javascripts/utilities.js')
    script(src='/javascripts/scripts.js')
  body
    .row-fluid.chat
      .span10.chat.display
      .span2.chat.users
        ul
    .row-fluid.entry
      .span12.chat.entry
        div
          span.shell
            | >
          form(style='display: inline')
            input(type='text')
